name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install SDL2
      run: brew install sdl2

    - name: Setup Odin
      uses: laytan/setup-odin@v2

    - name: Build
      run: make build
